:root {
  --text-size-medium: 72px;
  --text-size-large: 96px;
  --row-height: 130px;
  --animation-duration: 4000ms;
  --animation-delay: 400ms;
  --bg-color: #DCEDC8;        
  --text-color: #000000;        
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-height {
  height: var(--row-height);
  font-size: var(--row-height);  
  /* Setting the font-size prevents the text from moving vertically during animation, 
  has no actual effect on font-size. Font size is dictated by animation. */
}

/* 
  Weight axis: 100 – 700
  Width axis: 85 – 100
*/
@font-face {
  font-family: "Kapsas";
  src: url("./../font/Kapsas0.09VF.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

@font-face {
  font-family: "BLACC";
  src: url("./../font/BLACC___.TTF");
}
@font-face {
  font-family: "BLACCS";
  src: url("./../font/BLACCS__.TTF");
}

.Font-Kapsas {
  font-family: "Kapsas", "IBM Plex Sans"; /* Set primary font and fallbacks */
}

.Font-Blacc {
  font-family: "BLACC";
}

.Font-BlaccShadow {
  font-family: "BLACCS";
}

body {
  font-family: "IBM Plex Sans";
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.char {  /* This class name is added by splitting.js */
  --delay: calc((var(--char-index) + 1) * var(--animation-delay));
  animation: breathe var(--animation-duration) infinite both;
  animation-delay: var(--delay);
}



@keyframes breathe {
  0% {
    font-variation-settings: 'wght' 100, 'wdth' 85;
    font-size: var(--text-size-medium);
  }
  60% {
    font-variation-settings: 'wght' 700, 'wdth' 100;
    font-size: var(--text-size-large);
  }
  
  100% {
    font-variation-settings: 'wght' 100, 'wdth' 85;
    font-size: var(--text-size-medium);
  }
}
