:root {
  --text-size-medium: 200px;
  --text-size-large: 200px;
  --row-height: 200px;
  --animation-duration: 4000ms;
  --animation-delay: 0ms;
  --bg-color: #f5f5d4;        
  --text-color: #000000;
  --font-uploaded: "Kapsas", "IBM Plex Sans";
  --animation-play-state: 'running'
}

.directChildrenInheritMarginTop > * {
  margin-top: inherit;
}

.adjustableHeight {
  height: var(--row-height);
  font-size: max(var(--text-size-medium), var(--text-size-large));
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Kapsas";
  src: url("./../font/Kapsas0.09VFWithKerning.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

.font-uploaded {
  font-family: var(--font-uploaded);
}

.button {
  background: hsl(124, 34%, 65%);
  justify-content: center;
  color: #fff;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: 0.16s;
}

.button:hover, .button:active {
  filter: brightness(92%);
}

body {
  font-family: "IBM Plex Sans";
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}

.char {  /* This class name is added by splitting.js */
  animation: breathe var(--animation-duration) infinite both; /* breathe is defined in js */
  animation-delay: calc((var(--char-index) + 1) * var(--animation-delay));
  animation-play-state: var(--animation-play-state);
}
